#filters {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: $primary;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  transition: .3s ease-in-out;
  z-index: 3;

  &::after {
    content: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 3V7M19 21V11M12 3V15M12 21V19M4.99997 3V5M4.99997 21V9' stroke='white' stroke-width='1.4' stroke-linecap='round'/%3E%3Cpath d='M17 8.99994C17 10.1045 17.8954 10.9999 19 10.9999C20.1046 10.9999 21 10.1045 21 8.99994C21 7.89537 20.1046 6.99994 19 6.99994C17.8954 6.99994 17 7.89537 17 8.99994Z' stroke='white' stroke-width='1.4' stroke-linecap='round'/%3E%3Cpath d='M9.99997 17.0001C9.99997 18.1046 10.8954 19.0001 12 19.0001C13.1045 19.0001 14 18.1046 14 17.0001C14 15.8955 13.1045 15.0001 12 15.0001C10.8954 15.0001 9.99997 15.8955 9.99997 17.0001Z' stroke='white' stroke-width='1.4' stroke-linecap='round'/%3E%3Cpath d='M2.99997 6.99997C2.99997 8.10454 3.8954 8.99997 4.99997 8.99997C6.10454 8.99997 6.99997 8.10454 6.99997 6.99997C6.99997 5.8954 6.10454 4.99997 4.99997 4.99997C3.8954 4.99997 2.99997 5.8954 2.99997 6.99997Z' stroke='white' stroke-width='1.4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.list {
    width: calc(100% - (2 * 20px));
    border-radius: 10px;

    &::before {
      content: 'Filtres';
    }
  }
}