#list--WC {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 95px 20px 20px;
  gap: 15px;

  &.d-flex {
    display: flex;
  }

  .WC {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: $box-shadow;

    &__infos {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 15px;
    }

    &__filters {
      display: flex;
      height: 15px;
      align-items: center;
      gap: 15px;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;

      .bold {
        font-weight: 700;
      }
    }

    &__distance {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.WC {
  &__horaire,
  &__type,
  &__pmr {
    display: flex;
    align-items: center;
    line-height: 0;
    gap: 5px;
  }

  &__horaire {
    &::before {
      content: url("data:image/svg+xml, %3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33331 3.33334V12.6667C3.33331 12.8435 3.40355 13.0131 3.52858 13.1381C3.6536 13.2631 3.82317 13.3333 3.99998 13.3333H5.99998V12H4.66665V4.00001H5.99998V2.66668H3.99998C3.82317 2.66668 3.6536 2.73691 3.52858 2.86194C3.40355 2.98696 3.33331 3.15653 3.33331 3.33334ZM12.828 2.68668L7.49465 1.35334C7.39639 1.32884 7.29384 1.32704 7.19479 1.34808C7.09574 1.36912 7.00278 1.41245 6.92297 1.47478C6.84316 1.53711 6.7786 1.6168 6.73418 1.70781C6.68977 1.79882 6.66667 1.89874 6.66665 2.00001V14C6.66641 14.1014 6.68934 14.2014 6.73367 14.2926C6.77801 14.3837 6.84257 14.4635 6.92245 14.5259C7.00233 14.5883 7.0954 14.6316 7.19457 14.6525C7.29373 14.6735 7.39637 14.6715 7.49465 14.6467L12.828 13.3133C12.9723 13.2774 13.1004 13.1942 13.1919 13.077C13.2835 12.9598 13.3333 12.8154 13.3333 12.6667V3.33334C13.3333 3.18463 13.2835 3.04021 13.1919 2.92303C13.1004 2.80586 12.9723 2.72266 12.828 2.68668ZM9.99998 8.12534C9.9923 8.29699 9.91871 8.45907 9.79453 8.57782C9.67034 8.69658 9.50514 8.76285 9.33331 8.76285C9.16149 8.76285 8.99628 8.69658 8.8721 8.57782C8.74792 8.45907 8.67432 8.29699 8.66665 8.12534V7.87401C8.66673 7.6972 8.73706 7.52766 8.86214 7.4027C8.98723 7.27774 9.15684 7.20759 9.33365 7.20767C9.51046 7.20776 9.67999 7.27809 9.80495 7.40317C9.92992 7.52826 10.0001 7.69786 9.99998 7.87468V8.12534Z' fill='black'/%3E%3C/svg%3E");
    }
  }

  &__type {
    &::before {
      content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 0.5C10.2348 0.5 9.98043 0.605357 9.79289 0.792893C9.60536 0.98043 9.5 1.23478 9.5 1.5V6H1.75C1.41848 6 1.10054 6.1317 0.866117 6.36612C0.631696 6.60054 0.5 6.91848 0.5 7.25V8.25C0.49994 8.44151 0.573142 8.62579 0.704599 8.76505C0.836055 8.90432 1.01581 8.98802 1.207 8.999C1.50039 10.0338 2.09075 10.9598 2.905 11.6625C3.1795 11.8995 3.4775 12.1105 3.796 12.2905L3.0485 13.785C3.002 13.878 2.935 14.0115 2.8845 14.1515C2.8345 14.29 2.7795 14.4905 2.8055 14.7065C2.8355 14.9565 2.9715 15.186 3.2215 15.3315C3.4415 15.4585 3.7125 15.5 4 15.5H11C11.4125 15.5 11.7835 15.299 12.041 15.041C12.2985 14.7835 12.5 14.4125 12.5 14V10C12.5 9.866 12.5775 9.6865 12.7225 9.488C13.2114 9.43327 13.663 9.20025 13.9909 8.83349C14.3189 8.46673 14.5001 7.99198 14.5 7.5V1.5C14.5 1.23478 14.3946 0.98043 14.2071 0.792893C14.0196 0.605357 13.7652 0.5 13.5 0.5H10.5ZM4.708 12.7015C5.28463 12.8997 5.89024 13.0006 6.5 13C8.61 13 10.557 11.9595 11.5 10.209V14C11.5 14.0875 11.451 14.2165 11.334 14.334C11.2165 14.4515 11.0875 14.5 11 14.5H4C3.927 14.5 3.8695 14.496 3.8255 14.49C3.8545 14.4105 3.8965 14.325 3.947 14.2235L4.708 12.7015ZM10.25 8.5C10.417 8.7225 10.657 8.8875 10.934 8.96C10.4055 10.7935 8.6115 12 6.5 12C5.355 12 4.31 11.5725 3.516 10.8685C2.81171 10.2452 2.32038 9.4169 2.111 8.5H10.25ZM10.025 8H1.5V7.25C1.5 7.1837 1.52634 7.12011 1.57322 7.07322C1.62011 7.02634 1.6837 7 1.75 7H10V7.75C10 7.8355 10.0085 7.919 10.025 8ZM13.5 7.5C13.5 7.76522 13.3946 8.01957 13.2071 8.20711C13.0196 8.39464 12.7652 8.5 12.5 8.5H11.25C11.0511 8.5 10.8603 8.42098 10.7197 8.28033C10.579 8.13968 10.5 7.94891 10.5 7.75V1.5H13.5V7.5Z' fill='black'/%3E%3C/svg%3E");
    }
  }

  &__pmr {
    &::before {
      content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.99999 4C6.73637 4 7.33332 3.40305 7.33332 2.66667C7.33332 1.93029 6.73637 1.33333 5.99999 1.33333C5.26361 1.33333 4.66666 1.93029 4.66666 2.66667C4.66666 3.40305 5.26361 4 5.99999 4Z' fill='black'/%3E%3Cpath d='M11.32 9.86933C11.2898 9.71826 11.2082 9.58231 11.0891 9.48459C10.97 9.38688 10.8207 9.33343 10.6667 9.33333H7.91134L7.62534 7.33333H10.6667V6H7.43534L7.32668 5.23867C7.3039 5.07987 7.22462 4.93461 7.10339 4.82954C6.98215 4.72447 6.8271 4.66665 6.66668 4.66667H6.00001C5.90456 4.66698 5.81028 4.68773 5.72351 4.72752C5.63675 4.76731 5.5595 4.82521 5.49698 4.89733C5.43445 4.96946 5.38809 5.05413 5.36102 5.14567C5.33394 5.2372 5.32678 5.33347 5.34001 5.428L5.92468 9.52267C5.97142 9.83975 6.13032 10.1296 6.37252 10.3395C6.61472 10.5494 6.92417 10.6655 7.24468 10.6667H10.12L10.6793 13.464C10.742 13.7753 11.0153 14 11.3333 14H13.3333V12.6667H11.8793L11.32 9.86933Z' fill='black'/%3E%3Cpath d='M8.34001 11.6667C7.84734 12.6507 6.84001 13.3333 5.66668 13.3333C4.8713 13.3325 4.10875 13.0161 3.54633 12.4537C2.98391 11.8913 2.66756 11.1287 2.66668 10.3333C2.6678 9.73599 2.8471 9.15256 3.18165 8.65768C3.5162 8.16281 3.99078 7.77899 4.54468 7.55533L4.35201 6.20533C2.60334 6.76333 1.33334 8.40267 1.33334 10.3333C1.33334 12.7227 3.27734 14.6667 5.66668 14.6667C6.40988 14.6656 7.14031 14.4734 7.78772 14.1084C8.43513 13.7434 8.97773 13.218 9.36334 12.5827L9.18068 11.6667H8.34001Z' fill='black'/%3E%3C/svg%3E");
    }
  }
}