#map {
  display: none;

  &.d-block {
    display: block;
  }
}

.map-container {
  height: 100vh;

  .marker {
    background-image: url("data:image/svg+xml,%3Csvg width='256' height='256' viewBox='0 0 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M128.1 16C104.769 16.0265 82.4014 25.3064 65.9039 41.8038C49.4065 58.3013 40.1266 80.6691 40.1001 104C40.1001 179.3 120.1 236.2 123.5 238.6C124.863 239.507 126.463 239.991 128.1 239.991C129.737 239.991 131.338 239.507 132.7 238.6C136.1 236.2 216.1 179.3 216.1 104C216.074 80.6691 206.794 58.3013 190.296 41.8038C173.799 25.3064 151.431 16.0265 128.1 16ZM128.1 72C134.429 72 140.616 73.8768 145.878 77.393C151.141 80.9092 155.242 85.9069 157.664 91.7541C160.086 97.6014 160.72 104.035 159.485 110.243C158.25 116.45 155.203 122.152 150.728 126.627C146.252 131.103 140.55 134.15 134.343 135.385C128.136 136.62 121.701 135.986 115.854 133.564C110.007 131.142 105.009 127.041 101.493 121.778C97.9769 116.516 96.1001 110.329 96.1001 104C96.1001 95.5131 99.4715 87.3737 105.473 81.3726C111.474 75.3714 119.613 72 128.1 72Z' fill='%23003049'/%3E%3C/svg%3E");
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mapboxgl-popup-content {
    .popup-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .mapboxgl-ctrl-top-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    top: auto;
    height: 64px;
    width: 64px;

    .mapboxgl-ctrl-group {
      position: absolute;
      top: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: $box-shadow;

      .mapboxgl-ctrl-geolocate {
        width: 100%;
        height: 100%;

        .mapboxgl-ctrl-icon {
          background-size: 55%;
        }
      }
    }
  }
}