@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "style/reset";

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: 'Lexend', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .App {
    min-height: 100dvh;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

@import "style/variables";
@import "style/heading";
@import "style/list";
@import "style/map";
@import "style/filters";