@import "style/reset";
@import "style/variables";
@import "style/heading";
@import "style/list";
@import "style/map";

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .App {
    min-height: 100dvh;
  }
}